<!DOCTYPE html>
<html>
<head>
    <title>Equipment Management</title>
</head>
<body>
    <h1>Equipment Management</h1>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'teachers' %}">Teachers</a></li>
            <li><a href="{% url 'rooms' %}">Rooms</a></li>
            <li><a href="{% url 'equipment' %}">Equipment</a></li>
            <li><a href="{% url 'transfers' %}">Transfers</a></li>
            <!-- Adding links to new functionalities -->
            <li><a href="{% url 'add_teacher' %}">Add Teacher</a></li>
            <li><a href="{% url 'add_equipment' %}">Add Equipment</a></li>
            <li><a href="{% url 'add_room' %}">Add Room</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>
